@using Microsoft.AspNetCore.Identity;
@inject SignInManager<IdentityUser> signInManager;



<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] Bloggie - Home of Devs</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.0/font/bootstrap-icons.css">
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link href='https://cdn.jsdelivr.net/npm/froala-editor@latest/css/froala_editor.pkgd.min.css' rel='stylesheet' type='text/css' />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-dark border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand text-white" asp-area="" asp-page="/Index">Bloggie</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-white" asp-area="" asp-page="/Index">Home</a>
                        </li>

                        @if (signInManager.IsSignedIn(User) && User.IsInRole("Admin"))
                        {
                            <li class="nav-item dropdown">
                                <a class="nav-link text-white dropdown-toggle" role="button" data-bs-toggle="dropdown"
                                   id="navbarDropdownAdmin" aria-expanded="false">Admin</a>
                                <ul class="dropdown-menu" aria-labelledby="navbarDropdownAdmin" style="padding: 5px;">
                                    <li>
                                        <a class="dropdown-item" asp-area="" asp-page="/Admin/Blogs/List">Blog Posts</a>
                                        <a class="dropdown-item" asp-area="" asp-page="/Admin/Blogs/Add">Add Blog</a>
                                        @if (signInManager.IsSignedIn(User) && User.IsInRole("SuperAdmin"))
                                        {
                                            <a class="dropdown-item" asp-area="" asp-page="/Admin/Users/Index">Users Management</a>
                                        }
                                    </li>
                                </ul>
                            </li>
                        }

                    </ul>
                    <div class="d-flex align-items-center">
                        @if(signInManager.IsSignedIn(User))
                        {
                            <div class="me-3 text-white pad"> 
                                @User?.Identity?.Name
                            </div>
                            <a href="/Logout" class="btn bg-light text-dark me-3">Logout</a>

                        } 
                        else
                        {
                            <a href="/login" class="btn bg-light text-dark me-3">Login</a>
                            <a href="/register" class="btn bg-light text-dark me-3">Register</a>
                        }
                    </div>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2023 - Bloggie_Web
        </div>
    </footer>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js" 
    integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g==" 
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script type='text/javascript' src='https://cdn.jsdelivr.net/npm/froala-editor@latest/js/froala_editor.pkgd.min.js'></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>