@page
@model Bloggie_Web.Pages.ChangePasswordModel
@{
}

<div class="row justify-content-center">
    <div class="col-12 col-lg-6">
        <h1 class="mb-3 h3">Change Your Password</h1>
        <partial name="_Notification" />

        <form method="post">
            @Html.AntiForgeryToken()
            <div asp-validation-summary="All" class="text-danger"></div>

            <div class="mb-3">
                <label class="form-label" for="currentPassword">Current Password</label>
                <input type="password" class="form-control" id="currentPassword" asp-for="ChangePassword.CurrentPassword" required />
                <span class="text-danger" asp-validation-for="ChangePassword.CurrentPassword"></span>
            </div>

            <div class="mb-3">
                <label class="form-label" for="newPassword">New Password</label>
                <input type="password" class="form-control" id="newPassword" asp-for="ChangePassword.NewPassword" required minlength="6" />
                <span class="text-danger" asp-validation-for="ChangePassword.NewPassword"></span>
            </div>

            <div class="mb-3">
                <label class="form-label" for="confirmNewPassword">Confirm New Password</label>
                <input type="password" class="form-control" id="confirmNewPassword" asp-for="ChangePassword.ConfirmNewPassword" required minlength="6" />
                <span class="text-danger" asp-validation-for="ChangePassword.ConfirmNewPassword"></span>
            </div>

            <button type="submit" class="btn btn-primary">Change Password</button>
        </form>
    </div>
</div>
